<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-icon" class="inner">
      <a id="nav-github-link" class="nav-icon" href="<%- url_for(theme.github) %>"></a>
      <a id="nav-envelope-link" class="nav-icon" href="<%- url_for(theme.mail) %>"></a>
      <a id="nav-weibo-link" class="nav-icon" href="<%- url_for(theme.weibo) %>"></a>
    </div>
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> Magic
    </div>
  </div>
</footer>